@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
}

#root {
  background-size: cover;
  /* background-color: #effffd; */
  background-color: white;
}

.mainPage {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* background-image: url('https://static.vecteezy.com/system/resources/thumbnails/006/791/248/small_2x/abstract-watercolor-texture-background-free-vector.jpg'); */
  background-size: cover;
  background-color: #ffffff77;
  min-height: 200vh;
  min-width: 100%;

}
.bottomDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 130px;
}
