@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
}

#root {
  min-height: 200vh;
  background-size: cover;
  background-color: #effffd;
}

.page {
  height: 108vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainPage {
  position: relative;
  display: flex;
  flex-direction: column;
}
.innerDiv {
  z-index: 1;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #eaeaea;
  transform: transform(1px);
  background-color: #0000000c;
  /* backdrop-filter: blur(10); */
  backdrop-filter: blur(20px);
  padding: 30px 40px;
  position: fixed;
  top: 10;
}
.content {
  width: 60%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.logo {
  width: 15%;
  cursor: pointer;
}
.searchBar {
  border: 0px;
  width: 300px;
  height: 35px;
  padding-left: 20px;
  flex-grow: 1;
}
.searchBar:focus {
  outline: none;
}
.searchBarDiv {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 18px;
  width: 350px;
  height: 35px;
  background-color: rgb(255, 255, 255);
}
.searchIcon {
  width: 5%;
  height: 20px;
  padding-right: 14px;
  cursor: pointer;
}
.avatar {
  height: 35px;
  width: 35px;
  cursor: pointer;
}
.heading {
  margin: 10px 0px;
  color: #282a3a;
  font-size: 38px;
  font-family: "Roboto";
  font-weight: 700;
}
.para1 {
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 400;
  color: grey;
  margin-bottom: 20px;
}

.para {
  font-family: "Roboto";
  font-weight: 400;
}
.button {
  margin: 10px 0px;
  border: 0px;
  border-radius: 8px;
  padding: 15px 25px;
  background-color: rgb(89, 214, 230);
  color: white;
  font-family: "Roboto";
  font-weight: 600;
  font-size: large;
  cursor: pointer;
}
.reactLogo {
  height: 300px;
  z-index: 0;
  animation: rotate360 7s cubic-bezier(0, -0.02, 1, 1) infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
