*{
    margin: 0px;
}
#root{
    background-color: #EEEEEE;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #EEEEEE;
    color: #000000;
    padding: 30px;
    cursor: pointer;
    border-top: 6px solid #C47AFF;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.heading{
    text-align: left;
    color: #4e525e;
}
.heading1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 5px;
}
.heading3{
    font-size: 15px;
    margin-top: 5px;
}
.para{
    text-align: right;
    align-self: flex-end;
    font-style: italic;
}