*{
    margin: 0px;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #393E46;
}

.innerDiv{
    text-align: center;
    background-color: #153462;
    padding: 30px;
    border: 3px solid #F2E7D5;
    border-radius: 8px;
    color: #F7F7F7;

}
h3{
    text-align: right;
    color: #BA94D1;
}